<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
	Download this file to 'ProximityKit.plist' in your project folder, then drag it into Xcode to configure the library.
-->
<dict>
	<key>PKKitName</key>
	<string>test</string>
	<key>PKUserIdentifier</key>
	<string>40</string>
	<key>PKUserEmail</key>
	<string>david@radiusnetworks.com</string>
	<key>PKGlobalUserIdentifier</key>
	<string>2</string>
	<key>PKAPIToken</key>
	<string>85d437ed764da689a1b0448236c494adb39d698e9581eec69363d5b3d13c30ce</string>
	<key>PKKitURL</key>
	<string>http://www.proximitykit.com/api/kits/723</string>
	<key>PKMapURL</key>
	<string>http://proximitykit.com/api/maps/118</string>
	<key>PKMapName</key>
	<string>map1</string>
</dict>
</plist>
